/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
<<<<<<< HEAD

 */
 *{
 	margin: 0px;
 	padding: 0px;
 }
 #banner{
 	background: #9c9;
 	padding: 1.5em;
 	border-bottom: 2px solid;
 	font: small-caps 40px/40px "time new roman",serif;
 	color: #282;
 	text-align: center;
 	position: relative;

 	}
 #banner img {
 		float: left;
 		display: block;
 		position: absolute;
 		margin-top: -1em;
 	}

 #notice{
 	color: #000 !important;
 	border: 2px solid red;
 	padding: 1em;
 	margin-bottom: 2em;
 	background-color: #f0f0f0;
 	font: bold smaller sans-serif;
 }
 #columns{
 	background: #141;
 	}
    #main {
 		margin-left: 17em;
 		padding: 1em;
 		background:white;
 	}
 	#site{
 		float: left;
 		padding: 1em 2em;
 		width: 13em;
 		background: #141;
 	}
 		#site ul{
 			padding: 0px;
 		}
 			#site ul li{
 			    list-style: none;
 			}
 			   #site ul li a{
 			    	color: #bfb;
 			    	font-size: small;
 			    }
 			

 		
 	

 
=======
 */
>>>>>>> 698176da6da3500e420911eadb7b812e4275ed5c
